<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/monkeys">Monkeys</a></li>
    </ul>
    <div class="user-dropdown">
        <input type="checkbox" id="menu-toggle" hidden>
        <label for="menu-toggle" class="avatar-label">
            <img src="https://raw.githubusercontent.com/similonap/json/refs/heads/master/monkeys/images/drwilson.png" alt="Avatar" class="avatar">
        </label>
        <div class="user-menu">
            <span class="username">drwilson</span>
            <span class="fullname">Dr. Alice Wilson</span>
            <form action="/logout" method="post" class="logout-form">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>